<div class="availible-bikes-advert">
  <div class="page-content-all-gears">

    <!-- Page name and new listing button -->
    <div class="page-header">
      <div class="page-title">My Bikes</div>
      <div class="button-cell"> <%= link_to 'List Your Bike', new_gear_path, class: 'std-btn' %> </div>
    </div>
    <hr />

<!--
  <h1 class="my-4">My Bikes</h1>
  <%= link_to 'List Your Bike', new_gear_path, class: 'btn btn-success mb-4' %>
-->

      <% if @gears.any? %>
        <div class="row">
          <% @gears.each do |gear| %>
            <div class="col-md-4">
              <div class="card mb-4 rounded-4 adver-shadow">

                <% if gear.photo.present? %>
                  <div class="bike-view-frame">
                    <%= cl_image_tag(gear.photo.key, class: "booking-view") %>
                  </div>
                <%else%>
                  <div class="bike-image"></div>
                <%end%>

                <!-- Verification or user owner -->
                <% if user_signed_in? && gear.owned_by?(current_user) %>
                  <div class="msg-at-image">
                    <span class="border border-2 border-success fs-4 text-success ps-2 pe-2 rounded-4" style="background-color: #ffffff;">Your Item</span>
                  </div>
                <% end %>

                <div class="card-body text-center pb-4">
                <p class="card-title fw-bold fs-4 mb-4"><%= gear.title %></p> <hr />
                <p class="card-text fs-5 mb-4">Price per day: <%= gear.price_per_day %>$</p>
                <!-- <p class="card-text"><strong>Category:</strong> <%= gear.category %></p> -->
                <!-- <p class="card-text"><strong>Availability:</strong> <%= gear.availability ? 'Available' : 'Not Available' %> </p> -->
                <%= link_to 'View Details', gear_path(gear), class: 'std-btn' %>
              </div>

              <!--
                  <h5 class="card-title"><%= gear.title %></h5>
                  <p class="card-text"><strong>Price per day:</strong> £<%= gear.price_per_day %></p>
                  <p class="card-text"><strong>Category:</strong> <%= gear.category %></p>
                  <p class="card-text"><strong>Availability:</strong> <%= gear.availability ? 'Available' : 'Not Available' %></p>
                  <%= link_to 'View', gear_path(gear), class: 'btn btn-primary' %>
                  <%= link_to 'Edit', edit_gear_path(gear), class: 'btn btn-secondary' %>
                  <%= link_to 'Delete', gear, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
              -->

              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="info-window">You have no bikes listed.</div>
      <% end %>
  </div>
</div>
