<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title"><%= @gear.title %></h1>
    </div>
    <div class="card-body">
      <p class="card-text"><strong>Description:</strong> <%= @gear.description %></p>
      <p class="card-text"><strong>Price per day:</strong> £<%= @gear.price_per_day %></p>
      <p class="card-text"><strong>Category:</strong> <%= @gear.category %></p>
      <p class="card-text"><strong>Availability:</strong> <%= @gear.availability ? 'Available' : 'Not Available' %></p>
    </div>
    <div class="card-footer text-right">
       <% if user_signed_in? && @gear.owned_by?(current_user) %>
        <%= link_to 'Edit', edit_gear_path(@gear), class: 'btn btn-primary' %>
        <%= link_to 'Delete', @gear, method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-danger' %>
       <% end %>
      <%= link_to 'Back', gears_path, class: 'btn btn-secondary' %>
    </div>
  </div>
  <% unless @gear.owned_by?(current_user) %>
    <% if @gear.availability %>
      <div class="card mt-5">
        <div class="card-header">
          <h2>Book This Gear</h2>
        </div>
        <div class="card-body">
          <%= form_with(model: [@gear, @booking], local: true) do |form| %>
            <% if @booking.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
                <ul>
                  <% @booking.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
           <div class="mb-3">
              <%= form.label :start_date, class: 'form-label' %>
              <%= form.date_field :start_date, class: 'form-control date-picker' %>
            </div>
            <div class="mb-3">
              <%= form.label :end_date, class: 'form-label' %>
              <%= form.date_field :end_date, class: 'form-control date-picker' %>
            </div>
            <div class="text-right">
              <%= form.submit 'Book Now', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const datePickers = document.querySelectorAll(".date-picker");

  datePickers.forEach(function(datePicker) {
    datePicker.addEventListener("click", function() {
      this.showPicker(); // For modern browsers
      // Alternatively, focus the input if showPicker() is not supported
      this.focus();
    });
  });
});
</script>
